.HiSwagat{
    font-size: 50px;
}
ul{
    font-size: 30px;
}
ol{
    font-size: 20px;
}
iframe{
    margin-left: 10%;
    border: 5px solid chartreuse;
    border-width: 10%;
}
body
{
    justify-content: center;
    align-items: center;
    
}