body{
    background: #7C2323;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: auto;
}

.button{
    width: 30%;
    height: 10%;
    left: 35%;
    position: absolute;
    top: 40%;
    background: #4E3B3B;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
}
.trial
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.59em;

    color: #FFFFFF;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.trial1
{   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.59em;

    color: #FFFFFF;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.button:hover
{
    background-color: rgb(0, 0, 0);
    width: 35%;
    left: 32.5%;
    right: 32.5%;
}
.button:hover
{
    background-color: rgb(0, 0, 0);
    width: 35%;
    left: 32.5%;
    right: 32.5%;
}
.button1{
    width: 30%;
    height: 10%;
    left: 35%;
    position: absolute;
    top: 60%;
    background: #4E3B3B;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
}
.button1:hover
{
    background-color: rgb(0, 0, 0);
    width: 35%;
    left: 32.5%;
    right: 32.5%;
}
.BGCircle1
{
    width: 165%;
    height: 190%;
    bottom: 25%;
    right: 64.5%;
    border-radius: 100%;
    position: absolute;
    background: #CD4040;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.25);
}