.BGCircle1
{
    width: 55%;
    height: 95%;
    bottom: 53%;
    left: 64%;
    border-radius: 100%;
    position: absolute;
    background: #CD4040;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.BGCircle2
{
    width: 55%;
    height: 95%;
    top: 53%;
    right: 64%;
    border-radius: 100%;
    position: absolute;
    background: #CD4040;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.25);
}
body{
    background: #7C2323;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.info
{
    width: 60%;
    height: 58%;
    top: 37%;
    left: 10%;
    background-color: rgba(35, 33, 33, 1);
    border-radius: 30px;
    position: relative;
    border: 2px solid white;
}
.videos
{
    width: 26%;
    height: 58%;
    top: 37%;
    background-color: rgba(35, 33, 33, 1);
    left: 75%;
    position: absolute;
    border-radius: 30px;
    border: 2px solid white;
}